.DS_Store
# LDT stuff
/.buildpath
/.project
/.settings/
/.metadata/

# docs
/build/docmodels

#tests
/tests/.timestamps

# dev
/user.lua
/scratchpad.lua
/build/previewmd
/build/testdocs.lua
/run
/test
/temp/

