.DS_Store
/.bundle-tmp
/.metadata
/bin/
/csrc/
/jit/
/bundle*
/luajit*
/objc*
/strict.lua

/.mgit/bundle*
/.mgit/luajit/
/.mgit/luajit.exclude
/.mgit/objc/
/.mgit/objc.exclude

/user.lua
/scratchpad.lua
