.DS_Store
# LDT stuff
/.buildpath
/.project
/.settings/

# artifacts from mgit repos
/.bundle-tmp
/.metadata
/bin/
/csrc/
/jit/
/bundle*
/luajit*
/objc*
/strict.lua

/.mgit/bundle*
/.mgit/luajit/
/.mgit/luajit.exclude
/.mgit/objc/
/.mgit/objc.exclude

# docs
/build/docs/models

# dev
/user.lua
/scratchpad.lua
/build/previewmd
/build/testdocs.lua
